body {
    padding: 10px;
    background-color:rgb(186, 139, 99) !important;
}

img {
    height: 200px;
}

.alert {
    width:30%;
}

.nav-link { 
    font-size: 150% !important;
}

.vertical-nav{
    float: left !important;
  }
/*
.main-portrait{
    float: left;  
    margin-right: 50px;
}
*/
#mainbox{
    background-color:rgb(15, 92, 179) !important;
}

.selection-link{
    color: inherit !important;
    text-decoration: inherit !important;
}

