body {
    background-color:rgb(160, 137, 117) !important;
    color: rgb(15, 15, 15);
}

.page-header {
    background-color: rgb(126, 92, 63);
    color:black; 
    border:1px solid;
}

img {
    height: 200px;
}

.alert {
    width:30%;
}

.nav-link { 
    font-size: 150% !important;
}

.vertical-nav{
    float: left !important;
  }
  
#mainbox{
    background-color:rgb(15, 92, 179) !important;
}

.selection-link{
    color: inherit !important;
    text-decoration: inherit !important;
}

.selection-link:hover{
    opacity: 0.80;
}

.button1 {
    background-color: rgba(185, 185, 185, 0.658); 
    color:black; 
    border:2px solid;
}

.nav-link {
    background-color: rgb(164,116,73) !important; 
    color:black !important; 
    border:2px solid !important;
}

.nav-link:hover{
    background-color: rgb(80, 51, 26) !important

}

.button1:hover {
    background-color: #555555 !important;
    border-color: #363636 !important;
  }

#Belguard {
    background-color:rgb(124, 127, 129);
}

#Crooked {
    background-color:rgb(139, 104, 58);
}

#Seaside {
    background-color:rgb(59, 133, 134);
}

#Blackwater {
    background-color: 	rgb(72, 80, 69); 
}

#Wetlands {
    background-color:rgb(29, 107, 88);
}

#GrimWood {
    background-color:rgb(90, 83, 89);
}

#Legacy {
    background-color:rgb(102, 147, 177);
}

#El {
    background-color:rgb(211, 218, 84);
}


