{% extends "dwarves/layout.html" %}
{% load tags %}

{% block body %}
<h1>{{ page_title }}</h1>

    {% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    {% for upgrade in upgrades %}
    {% if upgrade.requirement <= dwarves_count %}
    <div class="containter">
        <h3> {{ upgrade.name }} </h3>
        Effect: {{ upgrade|get_effect }}
        <br>Cost: 
        {% if upgrade in dwarf_upgrades %}
            {% for upgrade_owned in dwarf_upgrades_owned %}
                {% if upgrade == upgrade_owned.upgrade %}
                    <ul>
                        {% for mineral in upgrade.cost.all %}
                            <li>{{ mineral.name }} : {{ mineral.value|cost_complete:upgrade_owned.amount_owned }}</li>

                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% else %}
            <ul>
                {% for mineral in upgrade.cost.all %}
                    <li>{{ mineral.name }} : {{ mineral.value }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url 'buy_upgrade' dwarf.name upgrade.name %}" method="post">
            {% csrf_token %}
            <input type="submit" name={{ upgrade.name }} value="Buy Upgrade">
        </form>
    </div>
    {% endif %}
    {% endfor %}

    <h1>Get new dwarf</h1>
    {% for upgrade in new_dwarf_upgrades %}
    {% if upgrade.requirement == dwarves_count %}
        Cost: 
        <ul>
            {% for mineral in upgrade.cost.all %}
                <li>{{ mineral.name }} : {{ mineral.value }}</li>

            {% endfor %}
        </ul>
        <form action="{% url 'new_dwarf' dwarf.name upgrade.name %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name={{ upgrade.name }} value="Get new dwarf">
        </form>
    {% endif %}
    {% endfor %}




{% endblock %}